@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #eff2ff;
}
.header .header-logo {
  padding-block: 1.2rem;
  width: 11rem;
}
.header .navbar {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  gap: 2.5rem;
  background-color: #eff2ff;
}
.section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  gap: 1.2rem;
}
.section .container .container__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
}
.section .container .container__title--lighter {
  font-weight: 600;
}
.section .container .container__text {
  font-family: Mulish;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}
.section .container .menu {
  list-style: none;
}
.section .container .menu .menu__item {
  padding-block-end: 1.2rem;
}
.section .container .menu .menu__item .menu__item1 {
  text-decoration: none;
  background-color: #009379;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 14rem;
  height: 4rem;
  font-family: Poppins;
  font-weight: 600;
  gap: 1rem;
}
.section .container .menu .menu__item .menu__item2 {
  text-decoration: none;
  background-color: white;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1.2rem;
  width: 20rem;
  height: 5.6rem;
  font-family: Mulish;
  font-weight: 400;
  font-size: 1.3rem;
  gap: 1.2rem;
  padding-inline-start: 0.75rem;
  border: 1px solid #e5f4f2;
}
.section .container .menu .menu__item--visible {
  display: none;
}
.section .container .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.2rem;
  align-items: flex-start;
  gap: 0.8rem;
  padding-block-end: 1.8rem;
}
.section .container .card .card__title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.8rem;
  padding-inline-start: 1.2rem;
}
.section .container .card .card__title--smaller {
  font-size: 1.3rem;
  padding-inline-start: 0rem;
}
.section .container .card .card__title--xsmaller {
  font-family: Mulish;
  font-size: 1.3rem;
  font-weight: 400;
  padding-block-start: 2.5rem;
}
.section .container .card .card__text {
  font-family: Mulish;
  font-weight: 400;
  font-size: 1rem;
  padding-inline-start: 1.2rem;
}
.section .container .card .card__text--smaller {
  font-size: 0.9rem;
  padding-inline-start: 0rem;
}
.section .container .card .card__text--bigger {
  font-family: Poppins;
  font-weight: 700;
  font-size: 3.1rem;
}
.section .container .card .card__text--bolder {
  font-weight: 700;
}
.section .container .card .card__pricing {
  display: flex;
  align-items: baseline;
}
.section .container .card .card__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
  font-family: Mulish;
  font-weight: 700;
  gap: 1rem;
  padding-inline-start: 1.2rem;
}
.section .container .card .card__button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #e5f4f2;
  color: #009379;
  border-radius: 1.2rem;
  width: 16rem;
  height: 4rem;
  font-family: Poppins;
  font-weight: 600;
}
.section .container .card--enterprise {
  background-color: #009379;
  color: white;
}
.section .container .card--align {
  padding-block-start: 2.5rem;
  align-items: center;
}
.section .container .card--align .card__text {
  text-align: center;
}
.section .container--width {
  width: 20rem;
}
.section .container--width .card__pricing {
  width: 20rem;
}
.section .image-container {
  max-width: 20rem;
}
.section .image-container .image-container__image {
  max-width: 20rem;
}

.wrapper {
  display: flex;
  max-width: 20rem;
  gap: 1.2rem;
}
.wrapper .container--align {
  flex-direction: column;
  border-inline-start: 4px solid #f2bfaf;
  width: 10rem;
  padding-inline-start: 1.2rem;
  gap: 0rem;
}

.section--background-color {
  padding-block-start: 6rem;
  background-color: #f8d57e;
}
.section--background-color .container--gap {
  gap: 3.75rem;
}

.check--color {
  fill: white;
}
