@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
}
.header .header-logo {
  padding-block: 1.2rem;
  width: 11rem;
}
.header .navbar {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  gap: 2.5rem;
}
.section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
  gap: 1.2rem;
}
.section .container .container__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
}
.section .container .container__text {
  font-family: Mulish;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}
.section .container .menu {
  list-style: none;
}
.section .container .menu .menu__item .menu__item1 {
  text-decoration: none;
  background-color: #009379;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  width: 14rem;
  height: 4rem;
  font-family: Poppins;
  font-weight: 600;
  gap: 1rem;
}
.section .container .menu .menu__item .menu__item2 {
  text-decoration: none;
  background-color: white;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  width: 20rem;
  height: 4rem;
  font-family: Mulish;
  font-weight: 400;
  font-size: 1.3rem;
  gap: 1.2rem;
  padding-inline-start: 0.75rem;
}
.section .container .menu .menu__item--visible {
  display: none;
}
.section .image-container {
  max-width: 20rem;
}
.section .image-container .image-container__image {
  max-width: 20rem;
}
